*~
*.swp
.idea

# output of git svn show-ignore below
# /
/target
/work
/dojo
/*.iws
/*.ipr
/*.iml
/derby.log
/maven.log
/build.xml
/build-dependency.xml
/velocity.log*
/junit*.properties
/surefire*.properties
/.project
/.classpath
/.settings
/.deployables
/.wtpmodules
/.externalToolBuilders
/create.sql
/drop.sql
/derby.log

# /assembly/
/assembly/.classpath
/assembly/.project
/assembly/.settings
/assembly/shindig.iml
/assembly/shindig.ipr
/assembly/shindig.iws
/assembly/target

# /extras/
/extras/target
/extras/work
/extras/dojo
/extras/*.iws
/extras/*.ipr
/extras/*.iml
/extras/derby.log
/extras/maven.log
/extras/build.xml
/extras/build-dependency.xml
/extras/velocity.log*
/extras/junit*.properties
/extras/surefire*.properties
/extras/.project
/extras/.classpath
/extras/.settings
/extras/.deployables
/extras/.wtpmodules
/extras/.externalToolBuilders
/extras/create.sql
/extras/drop.sql
/extras/derby.log

# /extras/src/main/java/
/extras/src/main/java/META-INF

# /features/
/features/*.iml
/features/*.ipr
/features/*.iws
/features/.classpath
/features/.deployables
/features/.externalToolBuilders
/features/.project
/features/.settings
/features/.wtpmodules
/features/build-dependency.xml
/features/build.xml
/features/create.sql
/features/derby.log
/features/dojo
/features/drop.sql
/features/junit*.properties
/features/maven-eclipse.xml
/features/maven.log
/features/surefire*.properties
/features/target
/features/velocity.log*
/features/work

# /features/src/main/javascript/features/
/features/src/main/javascript/features/META-INF

# /features/src/main/javascript/features/dynamic-size.util/

# /features/src/main/javascript/features/dynamic-width/

# /java/
/java/target
/java/work
/java/dojo
/java/*.iws
/java/*.ipr
/java/*.iml
/java/derby.log
/java/maven.log
/java/build.xml
/java/build-dependency.xml
/java/velocity.log*
/java/junit*.properties
/java/surefire*.properties
/java/.project
/java/.classpath
/java/.settings
/java/.deployables
/java/.wtpmodules
/java/.externalToolBuilders
/java/create.sql
/java/drop.sql
/java/derby.log

# /java/common/
/java/common/target
/java/common/work
/java/common/dojo
/java/common/*.iws
/java/common/*.ipr
/java/common/*.iml
/java/common/derby.log
/java/common/maven.log
/java/common/build.xml
/java/common/build-dependency.xml
/java/common/velocity.log*
/java/common/junit*.properties
/java/common/surefire*.properties
/java/common/.project
/java/common/.classpath
/java/common/.settings
/java/common/.deployables
/java/common/.wtpmodules
/java/common/.externalToolBuilders
/java/common/create.sql
/java/common/drop.sql
/java/common/derby.log
/java/common/maven-eclipse.xml

# /java/common/src/main/java/
/java/common/src/main/java/META-INF

# /java/gadgets/
/java/gadgets/target
/java/gadgets/work
/java/gadgets/dojo
/java/gadgets/*.iws
/java/gadgets/*.ipr
/java/gadgets/*.iml
/java/gadgets/derby.log
/java/gadgets/maven.log
/java/gadgets/build.xml
/java/gadgets/build-dependency.xml
/java/gadgets/velocity.log*
/java/gadgets/junit*.properties
/java/gadgets/surefire*.properties
/java/gadgets/.project
/java/gadgets/.classpath
/java/gadgets/.settings
/java/gadgets/.deployables
/java/gadgets/.wtpmodules
/java/gadgets/.externalToolBuilders
/java/gadgets/create.sql
/java/gadgets/drop.sql
/java/gadgets/derby.log
/java/gadgets/maven-eclipse.xml

# /java/gadgets/src/main/java/
/java/gadgets/src/main/java/META-INF

# /java/sample-container/
/java/sample-container/target
/java/sample-container/work
/java/sample-container/dojo
/java/sample-container/*.iws
/java/sample-container/*.ipr
/java/sample-container/*.iml
/java/sample-container/derby.log
/java/sample-container/maven.log
/java/sample-container/build.xml
/java/sample-container/build-dependency.xml
/java/sample-container/velocity.log*
/java/sample-container/junit*.properties
/java/sample-container/surefire*.properties
/java/sample-container/.project
/java/sample-container/.classpath
/java/sample-container/.settings
/java/sample-container/.deployables
/java/sample-container/.wtpmodules
/java/sample-container/.externalToolBuilders
/java/sample-container/create.sql
/java/sample-container/drop.sql
/java/sample-container/derby.log

# /java/samples/
/java/samples/target
/java/samples/work
/java/samples/dojo
/java/samples/*.iws
/java/samples/*.ipr
/java/samples/*.iml
/java/samples/derby.log
/java/samples/maven.log
/java/samples/build.xml
/java/samples/build-dependency.xml
/java/samples/velocity.log*
/java/samples/junit*.properties
/java/samples/surefire*.properties
/java/samples/.project
/java/samples/.classpath
/java/samples/.settings
/java/samples/.deployables
/java/samples/.wtpmodules
/java/samples/.externalToolBuilders
/java/samples/create.sql
/java/samples/drop.sql
/java/samples/derby.log

# /java/server/
/java/server/target
/java/server/work
/java/server/dojo
/java/server/*.iws
/java/server/*.ipr
/java/server/*.iml
/java/server/derby.log
/java/server/maven.log
/java/server/build.xml
/java/server/build-dependency.xml
/java/server/velocity.log*
/java/server/junit*.properties
/java/server/surefire*.properties
/java/server/.project
/java/server/.classpath
/java/server/.settings
/java/server/.deployables
/java/server/.wtpmodules
/java/server/.externalToolBuilders
/java/server/create.sql
/java/server/drop.sql
/java/server/derby.log
/java/server/maven-eclipse.xml

# /java/server-dependencies/
/java/server-dependencies/target
/java/server-dependencies/work
/java/server-dependencies/dojo
/java/server-dependencies/*.iws
/java/server-dependencies/*.ipr
/java/server-dependencies/*.iml
/java/server-dependencies/derby.log
/java/server-dependencies/maven.log
/java/server-dependencies/build.xml
/java/server-dependencies/build-dependency.xml
/java/server-dependencies/velocity.log*
/java/server-dependencies/junit*.properties
/java/server-dependencies/surefire*.properties
/java/server-dependencies/.project
/java/server-dependencies/.classpath
/java/server-dependencies/.settings
/java/server-dependencies/.deployables
/java/server-dependencies/.wtpmodules
/java/server-dependencies/.externalToolBuilders
/java/server-dependencies/create.sql
/java/server-dependencies/drop.sql
/java/server-dependencies/derby.log

# /java/server-resources/
/java/server-resources/target
/java/server-resources/work
/java/server-resources/dojo
/java/server-resources/*.iws
/java/server-resources/*.ipr
/java/server-resources/*.iml
/java/server-resources/derby.log
/java/server-resources/maven.log
/java/server-resources/build.xml
/java/server-resources/build-dependency.xml
/java/server-resources/velocity.log*
/java/server-resources/junit*.properties
/java/server-resources/surefire*.properties
/java/server-resources/.project
/java/server-resources/.classpath
/java/server-resources/.settings
/java/server-resources/.deployables
/java/server-resources/.wtpmodules
/java/server-resources/.externalToolBuilders
/java/server-resources/create.sql
/java/server-resources/drop.sql
/java/server-resources/derby.log

# /java/server-resources/src/main/webapp/
/java/server-resources/src/main/webapp/META-INF

# /java/social-api/
/java/social-api/target
/java/social-api/work
/java/social-api/dojo
/java/social-api/*.iws
/java/social-api/*.ipr
/java/social-api/*.iml
/java/social-api/derby.log
/java/social-api/maven.log
/java/social-api/build.xml
/java/social-api/build-dependency.xml
/java/social-api/velocity.log*
/java/social-api/junit*.properties
/java/social-api/surefire*.properties
/java/social-api/.project
/java/social-api/.classpath
/java/social-api/.settings
/java/social-api/.deployables
/java/social-api/.wtpmodules
/java/social-api/.externalToolBuilders
/java/social-api/create.sql
/java/social-api/drop.sql
/java/social-api/derby.log
/java/social-api/maven-eclipse.xml

# /java/social-api/src/main/java/
/java/social-api/src/main/java/META-INF

# /java/uber/
/java/uber/target
/java/uber/work
/java/uber/dojo
/java/uber/*.iws
/java/uber/*.ipr
/java/uber/*.iml
/java/uber/derby.log
/java/uber/maven.log
/java/uber/build.xml
/java/uber/build-dependency.xml
/java/uber/velocity.log*
/java/uber/junit*.properties
/java/uber/surefire*.properties
/java/uber/.project
/java/uber/.classpath
/java/uber/.settings
/java/uber/.deployables
/java/uber/.wtpmodules
/java/uber/.externalToolBuilders
/java/uber/create.sql
/java/uber/drop.sql
/java/uber/derby.log

# /php/
/php/target
/php/work
/php/dojo
/php/*.iws
/php/*.ipr
/php/*.iml
/php/derby.log
/php/maven.log
/php/build.xml
/php/build-dependency.xml
/php/velocity.log*
/php/junit*.properties
/php/surefire*.properties
/php/.project
/php/.classpath
/php/.settings
/php/.deployables
/php/.wtpmodules
/php/.externalToolBuilders
/php/create.sql
/php/drop.sql
/php/derby.log
