.portlet {
	width: 500px;
}
.portlet-header .ui-icon { 
 	float: right; 
 }
 
 #viewsDropdown, #viewsDropdown ul { 
   list-style: none; margin: 10px;
 }
 #viewsDropdown, #viewsdropdown * {
   padding: 0; margin: 0; 
 }

 #viewsDropdown li.li-header {
   float: right; margin-left: -1px;
 }
 #viewsDropdown li.li-header a { 
   display: block; font-size: small;
 }

 #viewsDropdown li.li-header ul { 
   display: none; border: 1px black solid; text-align: left; 
 }
 
 #viewsDropdown li.li-header:hover ul { 
   display: block; 
 }

 #viewsDropdown li.li-header ul li a { 
   padding: 5px; height: 17px; font-size: small;
 }