<cruisecontrol>
  <project name="shindig">

    <listeners>
      <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
    </listeners>

    <bootstrappers>
      <svnbootstrapper localWorkingCopy="../shindig"/>
    </bootstrappers>

    <modificationset quietperiod="30">
      <svn localWorkingCopy="../shindig"/>
    </modificationset>

    <schedule interval="300">
      <maven2 mvnscript="mvn" pomfile="../shindig/java/pom.xml" goal="clean package site-deploy -P reporting"/>
    </schedule>

    <log>
      <merge dir="projects/${project.name}/target/test-results"/>
      <merge dir="../shindig/java/gadgets/target/surefire-reports" pattern="TEST-*.xml" />
      <merge dir="../shindig/java/server/target/surefire-reports" pattern="TEST-*.xml" />
      <merge dir="../shindig/java/common/target/surefire-reports" pattern="TEST-*.xml" />
      <merge dir="../shindig/java/social-api/target/surefire-reports" pattern="TEST-*.xml" />
    </log>

    <publishers>
      <onsuccess>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/gadgets/target/shindig-gadgets-1-SNAPSHOT-sources.jar"/>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/gadgets/target/shindig-gadgets-1-SNAPSHOT.jar"/>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/server/target/shindig-server-1-SNAPSHOT-sources.jar"/>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/server/target/shindig-server-1-SNAPSHOT.war"/>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/common/target/shindig-common-1-SNAPSHOT-sources.jar"/>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/common/target/shindig-common-1-SNAPSHOT.jar"/>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/social-api/target/shindig-social-api-1-SNAPSHOT-sources.jar"/>
        <artifactspublisher dest="artifacts/${project.name}" file="../shindig/java/social-api/target/shindig-social-api-1-SNAPSHOT.jar"/>
      </onsuccess>
    </publishers>

  </project>
</cruisecontrol>
